.slick-dots 
    display: flex
    list-style: none
    justify-content: center
    padding: 0
    & li
        padding: 0 5px
        & button 
            font-size: 0px
            background: none
            width: 20px
            height: 20px
            border-radius: 50px
            cursor: pointer
            border: 1px solid #00000045

.slick-active button 
    background: green !important
        
