body
      font-family: 'Poppins', sans-serif
      margin: 0
      
.container
      max-width: 1330px
      margin: auto
      padding: 0 20px
      &-fluid
            max-width: 1770px
            margin: auto
            padding: 0 20px

.main-title
      text-align: center
      color: #323540
      font-size: 32px
      margin-bottom: 0px

.menu__btn-bar:nth-child(1) 
    top: 10px
    width: 20px

.menu__btn-bar:nth-child(3) 
    width: 25px
    top: 30px

.menu__btn-bar 
    width: 30px
    height: 2px
    
    background: green
    position: absolute
    top: 20px


.opened #header-menu 
    display: grid
    padding: 250px 0

    position: fixed
    left: 0
    background: #cddfff
    top: 0
    width: 100%
    height: 100vh
    z-index: 99
    margin: 0
    text-align: center
    
.opened 
    overflow: hidden
.opened #header-menu li 
    padding: 0

.menu-toggle 
    background: none
    border: none
    display: none
    position: absolute
    right: 20px
    top: 0
    z-index: 999
    cursor: pointer
    @media only screen and ( max-width: 767px)
          display: block


	