.footer
    background: linear-gradient(90deg, #181f37 0, #1e2744 100%)
    padding: 100px 0
    &-social
        display: flex
        @media only screen and ( max-width: 900px)
            justify-content: center
            padding-top: 30px !important
        & li 
            margin-right: 15px
            & a
                border: 1px solid white
                padding: 5px
                border-radius: 50px
                display: flex
                width: 30px
                height: 30px
                align-items: center
                justify-content: center
    & p
        color: #ffffff75   
        margin-bottom: 5px
        margin-top: 0
        
      
    &-wrap
        display: flex
        flex-flow: wrap
        justify-content: space-between
        @media only screen and ( max-width: 900px)
            display: block
            text-align: center
        &__address
            & a 
                color: #6db63c
                text-decoration: underline
        &__title
            color: white
            margin-bottom: 25px
            font-size: 22px
            margin-top: 0
            @media only screen and ( max-width: 900px)
                margin-bottom: 10px
        &__img
            @media only screen and ( max-width: 900px)
                padding-bottom: 50px

    & ul
        padding: 0
        list-style: none
        & li 
            padding-bottom: 5px
            & a
                color: white   
                opacity: 0.5
                text-decoration: none
                &:hover
                    text-decoration: none
                    opacity: 1
                    transition: linear 0.2s all
