.header
    padding: 25px 0
    &-wrap
        display: flex
        align-items: center
        position: relative
        &__menu
            padding-left: 70px
        &__logo
            position: relative
            z-index: 999    
#header-menu        
    list-style: none
    padding: 0
    display: flex
    @media only screen and ( max-width: 767px)
        display: none
    & li 
        padding-right: 30px
        & a 
            text-decoration: none
            color: black
            font-weight: 500