body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  max-width: 1330px;
  margin: auto;
  padding: 0 20px;
}
.container-fluid {
  max-width: 1770px;
  margin: auto;
  padding: 0 20px;
}

.main-title {
  text-align: center;
  color: #323540;
  font-size: 32px;
  margin-bottom: 0px;
}

.menu__btn-bar:nth-child(1) {
  top: 10px;
  width: 20px;
}

.menu__btn-bar:nth-child(3) {
  width: 25px;
  top: 30px;
}

.menu__btn-bar {
  width: 30px;
  height: 2px;
  background: green;
  position: absolute;
  top: 20px;
}

.opened #header-menu {
  display: grid;
  padding: 250px 0;
  position: fixed;
  left: 0;
  background: #cddfff;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  margin: 0;
  text-align: center;
}

.opened {
  overflow: hidden;
}

.opened #header-menu li {
  padding: 0;
}

.menu-toggle {
  background: none;
  border: none;
  display: none;
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 999;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .menu-toggle {
    display: block;
  }
}

.slick-dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}
.slick-dots li {
  padding: 0 5px;
}
.slick-dots li button {
  font-size: 0px;
  background: none;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2705882353);
}

.slick-active button {
  background: green !important;
}

.header {
  padding: 25px 0;
}
.header-wrap {
  display: flex;
  align-items: center;
  position: relative;
}
.header-wrap__menu {
  padding-left: 70px;
}
.header-wrap__logo {
  position: relative;
  z-index: 999;
}

#header-menu {
  list-style: none;
  padding: 0;
  display: flex;
}
@media only screen and (max-width: 767px) {
  #header-menu {
    display: none;
  }
}
#header-menu li {
  padding-right: 30px;
}
#header-menu li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.footer {
  background: linear-gradient(90deg, #181f37 0, #1e2744 100%);
  padding: 100px 0;
}
.footer-social {
  display: flex;
}
@media only screen and (max-width: 900px) {
  .footer-social {
    justify-content: center;
    padding-top: 30px !important;
  }
}
.footer-social li {
  margin-right: 15px;
}
.footer-social li a {
  border: 1px solid white;
  padding: 5px;
  border-radius: 50px;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.footer p {
  color: rgba(255, 255, 255, 0.4588235294);
  margin-bottom: 5px;
  margin-top: 0;
}
.footer-wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  .footer-wrap {
    display: block;
    text-align: center;
  }
}
.footer-wrap__address a {
  color: #6db63c;
  text-decoration: underline;
}
.footer-wrap__title {
  color: white;
  margin-bottom: 25px;
  font-size: 22px;
  margin-top: 0;
}
@media only screen and (max-width: 900px) {
  .footer-wrap__title {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 900px) {
  .footer-wrap__img {
    padding-bottom: 50px;
  }
}
.footer ul {
  padding: 0;
  list-style: none;
}
.footer ul li {
  padding-bottom: 5px;
}
.footer ul li a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
}
.footer ul li a:hover {
  text-decoration: none;
  opacity: 1;
  transition: linear 0.2s all;
}

.hero {
  height: 700px;
  display: flex;
}
@media only screen and (max-width: 1199px) {
  .hero {
    height: auto;
  }
}
.hero-wrap {
  display: flex;
}
@media only screen and (max-width: 1199px) {
  .hero-wrap {
    display: block;
  }
}
.hero-wrap__right {
  position: absolute;
  top: 0;
  right: 0;
}
@media only screen and (max-width: 1199px) {
  .hero-wrap__right {
    position: relative;
  }
}
.hero-wrap__right img {
  width: 100%;
}
.hero-wrap__left {
  width: 50%;
}
@media only screen and (max-width: 1199px) {
  .hero-wrap__left {
    width: 100%;
  }
}
.hero-wrap__left-btn {
  text-align: left !important;
}
.hero-wrap__left h1 {
  font-size: 45px;
  margin-bottom: 10px;
}
.hero-wrap__left p {
  color: #717d83;
}

.services {
  padding: 50px 0;
}
.services-wrap {
  display: flex;
  flex-flow: wrap;
  padding: 0 20px;
}
@media only screen and (max-width: 900px) {
  .services-wrap {
    display: block;
  }
}
.services-wrap__box {
  width: 50%;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .services-wrap__box {
    width: 100%;
  }
}
.services-wrap__box-content {
  position: absolute;
  bottom: 0;
  left: 20px;
  z-index: 11;
  padding: 30px 50px;
}
@media only screen and (max-width: 1199px) {
  .services-wrap__box-content {
    left: 0;
  }
}
.services-wrap__box-content p {
  color: white;
  width: 450px;
}
@media only screen and (max-width: 1199px) {
  .services-wrap__box-content p {
    width: 100%;
  }
}
.services-wrap__box-content h5 {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
  position: relative;
}
.services-wrap__box-content h5::before {
  position: absolute;
  left: -30px;
  top: -20px;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 20px solid #6db63c;
  color: rgba(29, 38, 67, 0);
  z-index: 9;
  border-bottom: 0px solid;
  border-left: 20px solid;
  transform: rotate(135deg);
}
.services-wrap__box-img {
  padding: 9px;
}
.services-wrap__box-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 350px;
  border-radius: 20px;
}
@media only screen and (max-width: 900px) {
  .services-wrap__box-img img {
    height: 250px;
  }
}

.blog-front__btn {
  margin: 30px 0;
  padding: 30px 0;
  text-align: center;
}
.blog-front__btn a {
  background: linear-gradient(90deg, #181f37 0, #1e2744 100%);
  color: white;
  padding: 15px 50px;
  position: relative;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .blog-front__btn a {
    padding: 15px 30px;
  }
}
.blog-front__btn a:after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 10px solid #ffffff;
  color: #1d2643;
  z-index: 9;
  border-bottom: 0px solid;
  border-left: 10px solid;
}
.blog-front__btn a:before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 10px solid #1d2643;
  color: white;
  z-index: 9;
  border-bottom: 0px solid;
  border-left: 10px solid;
}
.blog-front__btn a i {
  color: #6db63c;
  padding-left: 20px;
}
.blog-front__items {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.blog-box {
  display: flex !important;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .blog-box {
    display: block !important;
  }
}
.blog-box__content {
  width: 60%;
  padding: 0 30px;
}
@media only screen and (max-width: 767px) {
  .blog-box__content {
    width: 100%;
    padding: 10px;
  }
}
.blog-box__content-text h5 {
  color: #6db63c;
  font-size: 15px;
  font-style: italic;
  text-decoration: none;
  margin-bottom: 0;
  margin-top: 0;
}
.blog-box__content-text h6 {
  text-decoration: none;
  color: #323540;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 20px;
}
.blog-box__content-text h6 i {
  color: #6db63c;
  padding-left: 10px;
}
.blog-box__content-info {
  display: flex;
  color: #1f242d;
  font-size: 12px;
}
.blog-box__content-info div {
  margin-right: 10px;
}
.blog-box__img {
  width: 40%;
}
@media only screen and (max-width: 767px) {
  .blog-box__img {
    width: 100%;
  }
}
.blog-box__img img {
  height: 100px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 767px) {
  .blog-box__img img {
    height: 250px;
    width: 95%;
    margin: auto;
  }
}

.acordeon-item {
  padding-bottom: 25px;
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 900px) {
  .acordeon-item {
    width: 100%;
    padding-bottom: 0;
  }
}
.acordeon-item__content {
  color: #717d83;
}
.acordeon-item__title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}
.acordeon-item__title i {
  color: #6db63c;
}

.acordeon-item__title.open i {
  transform: rotate(180deg);
  transition: linear 0.2s all;
}

.qaa-title p {
  color: #6db63c;
  text-align: center;
  margin-top: 0;
}/*# sourceMappingURL=style.css.map */