.acordeon-item
    padding-bottom: 25px
    width: 80%
    margin: auto
    @media only screen and ( max-width: 900px)
        width: 100%
        padding-bottom: 0
    &__content
        color: #717d83
        
    &__title 
        display: flex
        justify-content: space-between
        cursor: pointer
        align-items: center
       
        & i 
            color: #6db63c

.acordeon-item__title.open i 
    transform: rotate(180deg)
    transition: linear 0.2s all
       
.qaa-title p
    color: #6db63c
    text-align: center
    margin-top: 0

