
.blog-front
    &__btn
        margin: 30px 0
        padding: 30px 0
        text-align: center    
        & a 
            background: linear-gradient(90deg, #181f37 0, #1e2744 100%)
            color: white
            padding: 15px 50px
            position: relative
            text-decoration: none
            @media only screen and ( max-width: 767px)
                padding: 15px 30px
           
            &:after
                position: absolute
                right: 0
                top: 0
                content: ''
                width: 0px
                height: 0px
                border-top: 10px solid #ffffff
                color: #1d2643
                z-index: 9
                border-bottom: 0px solid
                border-left: 10px solid
            &:before
                position: absolute
                left: 0
                bottom: 0
                content: ''
                width: 0px
                height: 0px
                border-top: 10px solid #1d2643
                color: white
                z-index: 9
                border-bottom: 0px solid
                border-left: 10px solid
            & i
                color: #6db63c
                padding-left: 20px
    &__items 
        display: flex
        flex-flow: wrap
        justify-content: space-between
        margin-top: 50px

.blog-box 
    display: flex !important
    text-decoration: none
    @media only screen and ( max-width: 767px)
        display: block !important
    
    &__content
        width: 60%
        padding: 0 30px
        @media only screen and ( max-width: 767px)
            width: 100%
            padding: 10px
        &-text
            
           
            & h5
                color: #6db63c
                font-size: 15px
                font-style: italic
                text-decoration: none
                margin-bottom: 0
                margin-top: 0 
            & h6
                text-decoration: none
                color: #323540
                font-size: 16px   
                margin-top: 0 
                margin-bottom: 20px
                & i
                    color: #6db63c
                    padding-left: 10px

        &-info
            display: flex
            color: #1f242d
            font-size: 12px
            & div
                margin-right: 10px
    &__img
        width: 40%
        @media only screen and ( max-width: 767px)
            width: 100%
        & img
            height: 100px
            width: 100%
            object-fit: cover
            @media only screen and ( max-width: 767px)
                height: 250px
                width: 95%
                margin: auto
