.hero
    height: 700px
    display: flex
    @media only screen and ( max-width: 1199px)
        height: auto
    &-wrap
        display: flex
        @media only screen and ( max-width: 1199px)
            display: block 
        &__right
            position: absolute
            top: 0
            right: 0
            @media only screen and ( max-width: 1199px)
                position: relative
            & img
                width: 100%    
        &__left
            width: 50%
            @media only screen and ( max-width: 1199px)
                width: 100%
            &-btn
                text-align: left !important
            & h1
                font-size: 45px
                margin-bottom: 10px
            & p 
                color: #717d83    