.services
    padding: 50px 0
    &-wrap 
        display: flex
        flex-flow: wrap
        padding: 0 20px
        @media only screen and ( max-width: 900px)
            display: block
        &__box
            width: 50%
            position: relative
            @media only screen and ( max-width: 900px)
                width: 100%
            &-content
                position: absolute
                bottom: 0
                left: 20px
                z-index: 11
                padding: 30px 50px
                @media only screen and ( max-width: 1199px)
                    left: 0
                & p
                    color: white
                    width: 450px
                    @media only screen and ( max-width: 1199px)
                        width: 100%
                & h5 
                    color: white
                    font-size: 25px
                    margin-bottom: 10px
                    position: relative
                    &::before
                        position: absolute
                        left: -30px
                        top: -20px
                        content: ""
                        width: 0px
                        height: 0px
                        border-top: 20px solid #6db63c
                        color: #1d264300
                        z-index: 9
                        border-bottom: 0px solid
                        border-left: 20px solid
                        transform: rotate(135deg)
        
            &-img
                padding: 9px
                & img
                    width: 100%
                    object-fit: cover
                    height: 350px
                    border-radius: 20px
                    
                    @media only screen and ( max-width: 900px)
                        height: 250px
